<html>
<head>
    <title>OMG SHOES!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class="container">

    </div>
</body>
</html>
