<html>
<head>
    <title>OMG SHOES!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class="container">
        <div class="text-center">
            <div class="page-header">
              <h1>We <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Shoes <small>one stop for all of your shoe needs</small></h1>
            </div>
            <form action="/stores">
                <button type="submit">View All Stores</button>
            </form>

            <form action="/brands">
                <button type="submit">View All Brands</button>
            </form>
        </div>
    </div>
</body>
</html>
