<html>
<head>
    <title>OMG SHOES!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Shoe Stores</h1>
        </div>

        {% if stores is not empty %}
            <ul class="list-group">
                <li class="list-group-item active">List of Stores</li>
                {% for store in stores|sort %}
                    <a href="stores/{{ store.getId }}" class="list-group-item">{{ store.getName }}</a>
                {% endfor %}
            </ul>
        {% else %}
            <h3>No stores are listed.</h3>
        {% endif %}

        <form action="/stores" method="post">
            <label for="store_name">Add a store:</label>
            <input type="text" name="store_name" id="store_name" class="form-control" required>
            <br>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>

        {% if stores is not empty %}
            <br>
            <form action="delete_all_stores" method="post">
                <input name="_method" type="hidden" value="delete">
                <button type="submit"class="btn btn-danger">Remove All Stores</button>
            </form>
            <br>
        {% endif %}


        <form action="/">
            <button type="submit"class="btn btn-primary">Back Home</button>
        </form>
    </div>
</body>
</html>
