<html>
<head>
    <title>OMG SHOES!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class="container">
        <h1>Shoe Stores</h1>

        <form action="/stores" method="post">
            <label for="store_name">Add a store:</label>
            <input type="text" name="store_name" id="store_name" required>
            <button type="submit">Submit</button>
        </form>

        <h2>List of Stores</h2>
        {% if stores is not empty %}
        <ul>
            {% for store in stores|sort %}
                <li><a href="stores/{{ store.getId }}">{{ store.getName }}</a></li>
            {% endfor %}
        </ul>

        <form action="delete_all_stores" method="post">
            <input name="_method" type="hidden" value="delete">
            <button type="submit">Remove All Stores</button>
        </form>
        {% else %}
            <h3>No stores are listed.</h3>
        {% endif %}

        <form action="/">
            <button type="submit">Back Home</button>
        </form>
    </div>
</body>
</html>
